<div class="card" *ngFor="let movie of movies">
  <div class="row">
    <div class="col-3">
      <img src="assets/{{movie.imageUrl}}" class="card-img">
    </div>
    <div class="col-9">
      <div class="card-body">
        <h5 class="card-title">
          <a routerLink="/movies/{{movie.id}}">{{movie.name}}</a>
        </h5>
        <p class="card-text">{{movie.description}}</p>
      </div>
    </div>
  </div>
</div>
<div *ngIf = "moviesLength>5" class="text-center my-2">
  <button routerLink="/movies" class="btn btn-outline-primary">More Movies</button>
</div>
